# Every value has a type

* Every value in a program has a specific type.
* Integer (`int`): represents positive or negative whole numbers like 3 or -512.
* Floating point number (`float`): represents real numbers like 3.14159 or -2.5.
* Character string (usually called “string”, `str`): text.
    * Written in either single quotes or double quotes (as long as they match).
    * The quote marks aren’t printed when the string is displayed.
    
# Use the built-in function `type` to find the type of a value

* Use the built-in function `type` to find out what type a value has.
* Works on variables as well.
    * But remember: the value has the type — the variable is just a label.

In [ ]:
print(type(52))

In [ ]:
fitness = 'average'
print(type(fitness))

# Types control what operations (or methods) can be performed on a given value

A value’s type determines what the program can do to it.

In [ ]:
print(5 - 3)

In [ ]:
print('hello' - 'h')

# You can use the “+” and “*” operators on strings

“Adding” character strings concatenates them.

In [ ]:
full_name = 'Ahmed' + ' ' + 'Walsh'
print(full_name)

Multiplying a character string by an integer *N* creates a new string that consists of that character string repeated *N* times.
* Since multiplication is repeated addition.

In [ ]:
separator = '=' * 10
print(separator)

# Strings have a length (but numbers don’t)

The built-in function len counts the number of characters in a string.

In [ ]:
print(len(full_name))

But numbers don’t have a length (not even zero).

In [ ]:
print(len(52))

# Must convert numbers to strings or vice versa when operating on them

Cannot add numbers and strings.

In [ ]:
print(1 + '2')

* Not allowed because it’s ambiguous: should 1 + '2' be 3 or '12'?
* Some types can be converted to other types by using the type name as a function.

In [ ]:
print(1 + int('2'))
print(str(1) + '2')

# Can mix integers and floats freely in operations

Integers and floating-point numbers can be mixed in arithmetic. Python 3 automatically converts integers to floats as needed.

In [ ]:
print('half is', 1 / 2.0)
print('three squared is', 3.0 ** 2)

# Variables only change value when something is assigned to them

If we make one cell in a spreadsheet depend on another, and update the latter, the former updates automatically.
This does **not** happen in programming languages.

In [ ]:
variable_one = 1
variable_two = 5 * variable_one
variable_one = 2
print('first is', variable_one, 'and second is', variable_two)

* The computer reads the value of `variable_one` when doing the multiplication, creates a new value, and assigns it to `variable_two`.
* Afterwards, the value of `variable_two` is set to the new value and not dependent on `variable_one` so its value does not automatically change when `variable_one` changes.

## Exercise 1:

What type of value is 3.4? How can you find out?

*Solution: It is a floating-point number (often abbreviated “float”). It is possible to find out by using the built-in function `type()`.*

In [ ]:
print(type(3.4))

## Exercise 2:

What type of value is 3.25 + 4?

*Solution: It is a float: integers are automatically converted to floats as necessary.*

In [ ]:
result = 3.25 + 4
print(result, 'is', type(result))

## Exercise 3:

What type of value (integer, floating point number, or character string) would you use to represent each of the following? Try to come up with more than one good answer for each problem. For example, in # 1, when would counting days with a floating point variable make more sense than using an integer?

1. Number of days since the start of the year.
2. Time elapsed from the start of the year until now in days.
3. Serial number of a piece of lab equipment.
4. A lab specimen’s age
5. Current population of a city.
6. Average population of a city over time.

*The answers to the questions are:*

1. Integer, since the number of days would lie between 1 and 365.
2. Floating point, since fractional days are required
3. Character string if serial number contains letters and numbers, otherwise integer if the serial number consists only of numerals
4. This will vary! How do you define a specimen’s age? whole days since collection (integer)? date and time (string)?
5. Choose floating point to represent population as large aggregates (eg millions), or integer to represent population in units of individuals.
6. Floating point number, since an average is likely to have a fractional part.

## Exercise 4: 
In Python 3, the `//` operator performs integer (whole-number) floor division, the `/` operator performs floating-point division, and the `%` (or modulo) operator calculates and returns the remainder from integer division: 

```python
print('5 // 3:', 5 // 3)
print('5 / 3:', 5 / 3)
print('5 % 3:', 5 % 3)
```
Output:
```python
5 // 3: 1
5 / 3: 1.6666666666666667
5 % 3: 2
```

If `num_subjects` is the number of subjects taking part in a study, and `num_per_survey` is the number that can take part in a single survey, write an expression that calculates the number of surveys needed to reach everyone once.

*Solution:*

We want the minimum number of surveys that reaches everyone once, which is the rounded up value of `num_subjects/ num_per_survey`. This is equivalent to performing a floor division with `//` and adding 1. Before the division we need to subtract 1 from the number of subjects to deal with the case where `num_subjects` is evenly divisible by `num_per_survey`.

In [ ]:
num_subjects = 600
num_per_survey = 42
num_surveys = (num_subjects - 1) // num_per_survey + 1

print(num_subjects, 'subjects,', num_per_survey, 'per survey:', num_surveys)

## Exercise 5:

Where reasonable, `float()` will convert a string to a floating point number, and `int()` will convert a floating point number to an integer:

```python
print("string to float:", float("3.4"))
print("float to int:", int(3.4))
```

Output:
```python
string to float: 3.4
float to int: 3
```

If the conversion doesn’t make sense, however, an error message will occur.
```python
print("string to float:", float("Hello world!"))
```

Output:

```python
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Cell In[4], line 1
----> 1 print("string to float:", float("Hello world!"))

ValueError: could not convert string to float: 'Hello world!'
```

Given this information, what do you expect the following program to do?

```python
print("fractional string to int:", int("3.4"))
```

What does it actually do?

Why do you think it does that?

In [ ]:
print("fractional string to int:", int("3.4"))

*Solution:* 

What do you expect this program to do? It would not be so unreasonable to expect the Python 3 int command to convert the string “3.4” to 3.4 and an additional type conversion to 3. After all, Python 3 performs a lot of other magic - isn’t that part of its charm?

In [5]:
int("3.4")

ValueError: invalid literal for int() with base 10: '3.4'

However, Python 3 throws an error. Why? To be consistent, possibly. If you ask Python to perform two consecutive typecasts, you must convert it explicitly in code.

In [6]:
int(float("3.4"))

3

## Exercise 6: 

Which of the following will return the floating point number `2.0`? Note: there may be more than one right answer.

In [ ]:
first = 1.0
second = "1"
third = "1.1"

1. `first + float(second)`
2. `float(second) + float(third)`
3. `first + int(third)`
4. `first + int(float(third))`
5. `int(first) + int(float(third))`
6. `2.0 * second`

Use the following cells to try it out:

In [ ]:
# 1
first + float(second)

In [ ]:
# 2
float(second) + float(third)

In [ ]:
# 3
first + int(third)

In [ ]:
# 4
first + int(float(third))

In [ ]:
# 5
int(first) + int(float(third))

In [ ]:
# 6
2.0 * second

*Solution: 1 and 4*